In [73]:
import pandas as pd
from pathlib import Path

filePath = Path('lyrics', 'lyrics_tokenized_v1.csv')

df = pd.read_csv(filePath, sep =';')
df.drop('id', axis = 'columns', inplace = True)
df.head(7)

,artist,track_position,song,album,realse_date,lyrics
0,Drake,1,Champagne Poetry,Certified Lover Boy,2021-09-03 00:00:00,love
1,Drake,1,Champagne Poetry,Certified Lover Boy,2021-09-03 00:00:00,love
2,Drake,1,Champagne Poetry,Certified Lover Boy,2021-09-03 00:00:00,love
3,Drake,1,Champagne Poetry,Certified Lover Boy,2021-09-03 00:00:00,love
4,Drake,1,Champagne Poetry,Certified Lover Boy,2021-09-03 00:00:00,love
5,Drake,1,Champagne Poetry,Certified Lover Boy,2021-09-03 00:00:00,love
6,Drake,1,Champagne Poetry,Certified Lover Boy,2021-09-03 00:00:00,find

In [74]:
# get all words with two letters
two = df[df["lyrics"].str.len() < 3]
two['lyrics'].unique()

array(['ll', 'nt', 'cj', 'oh', 'em', 'co', 'ym', 'ta', 'ha', 've', 'ai',
       'se', 'mm', 'uh', 'og', 'wo', 'ah', 'ho', 'ya', 'ap', 'na', 'ex',
       'fn', 'ba', 'ye', 'la', 'wi', 'fi', 'td', 'cb', 'tv', 'gs', 'al',
       'fe', 'ra', 'dj', 'yo', 'gg', 'cc', 'kb', 'jt', 'mr', 'es', 'hi',
       'lo', 'kd', 'eh', 'um', 'bo', 'du', 'ac', 'da', 'xo', 'ol', 'li',
       'ii', 'mj', 'dm', 'di', 'ay', 'aw', 'ls', 'mi', 'ot', 'ns', 'rr',
       'po', 'zs', 'xl', 'tj', 'de', 'fo', 'ga', 'st', 'mo', 'ma', 'mе',
       'qs', 'ps', 'jo', 'oj', 'hе', 'gt', 'el', 'jr', 'sr', 'pa', 'od',
       'hm', 'ey', 'rb', 'ei', 'ny', 'im', 'su', 'tó', 'az', 'sk'],
      dtype=object)

In [75]:
# view the most common ones
two = two.groupby(['lyrics']).size().reset_index(name='count').sort_values(by=['count'], ascending=False)
two.head(30)

   lyrics  count
61     nt   1348
65     oh    397
2      ai    281
81     ta    223
23     em    172
88     ve    170
49     ll    160
86     uh    133
59     na     74
93     ya     56
26     ey     56
90     wo     54
55     mm     51
1      ah     44
47     la     33
35     ha     27
53     mi     26
96     yo     22
25     ex     22
5      aw     20
94     ye     20
8      ba     16
38     ho     15
56     mo     12
14     da     11
16     di      9
31     ga      8
36     hi      8
28     fi      8
9      bo      6

In [76]:
# get all words with two letters
three = df[df["lyrics"].str.len() == 3]
three['lyrics'].unique()

array(['hot', 'son', 'man', 'got', 'new', 'set', 'ovo', 'pay', 'owe',
       'bag', 'boy', 'day', 'bar', 'til', 'rip', 'leg', 'win', 'let',
       'gon', 'war', 'lot', 'ayy', 'wop', 'dot', 'jon', 'kid', 'hit',
       'rap', 'pop', 'roc', 'big', 'owl', 'way', 'dad', 'bro', 'gym',
       'aps', 'car', 'shh', 'lay', 'ass', 'tao', 'thе', 'gun', 'von',
       'die', 'sit', 'bit', 'end', 'tea', 'uno', 'dos', 'nah', 'eat',
       'raw', 'lit', 'ooh', 'log', 'old', 'mil', 'ice', 'cap', 'fly',
       'hoo', 'red', 'saw', 'god', 'woo', 'ski', 'bay', 'san', 'tsu',
       'mix', 'run', 'hop', 'rec', 'bow', 'ask', 'mom', 'cup', 'bae',
       'oak', 'fun', 'bad', 'met', 'nay', 'arm', 'dig', 'pen', 'mmm',
       'kin', 'hey', 'app', 'act', 'fix', 'aye', 'hoe', 'map', 'max',
       'fax', 'bet', 'ard', 'err', 'men', 'mad', 'tee', 'mud', 'far',
       'era', 'sky', 'huh', 'beg', 'pic', 'try', 'air', 'dug', 'tax',
       'boo', 'wan', 'fat', 'ant', 'dog', 'jet', 'low', 'lie', 'sad',
       'lil', 'pro', 'cds', 'iou', 'sat', 'use', 'job', 'dry', 'net',
       'pie', 'fit', 'ace', 'mac', 'cut', 'tie', 'tay', 'wig', 'ran',
       'dre', 'yes', 'bed', 'dub', 'oli', 'yep', 'sex', 'sms', 'buy',
       'tec', 'box', 'mic', 'tap', 'guy', 'eye', 'rid', 'gle', 'sss',
       'grr', 'mob', 'doo', 'ayo', 'dip', 'key', 'lap', 'gap', 'hov',
       'heh', 'fan', 'age', 'led', 'ink', 'cry', 'sun', 'wow', 'yup',
       'wet', 'umm', 'blk', 'kai', 'dna', 'mod', 'dom', 'bus', 'dun',
       'tha', 'fif', 'bat', 'hmm', 'cuh', 'cuz', 'fam', 'wah', 'yah',
       'tat', 'bbk', 'row', 'icy', 'ugh', 'ike', 'jay', 'rag', 'naw',
       'sig', 'bee', 'hrr', 'sha', 'oof', 'dem', 'ahh', 'rah', 'dah',
       'gas', 'bob', 'pat', 'ego', 'aww', 'tan', 'hug', 'opp', 'hun',
       'tow', 'dri', 'ive', 'ize', 'ied', 'ime', 'abu', 'bih', 'bel',
       'tho', 'liv', 'biz', 'seh', 'feh', 'fed', 'dmx', 'aid', 'wit',
       'pon', 'yea', 'gps', 'roy', 'don', 'tbe', 'ttc', 'kim', 'syn',
       'tip', 'ken', 'bun', 'yiy', 'woi', 'dis', 'oti', 'ses', 'hen',
       'aim', 'won', 'cvs', 'mvp', 'yuh', 'pum', 'weh', 'deh', 'tag',
       'omg', 'szn', 'wri', 'hol', 'nuh', 'jus', 'sum', 'ago', 'hog',
       'rrr', 'dap', 'haf', 'wha', 'fry', 'van', 'zoe', 'pnd', 'ray',
       'gat', 'lou', 'cnn', 'sip', 'ham', 'ion', 'bib', 'toe', 'lve',
       'fil', 'thy', 'nod', 'irs', 'eve', 'mmh', 'tsk', 'bid', 'bla',
       'ack', 'rib', 'sea', 'bop', 'imp', 'brr', 'hee', 'chi', 'wom',
       'flo', 'fin', 'ceo', 'hah', 'glo', 'gab', 'mhm', 'arе', 'jam',
       'kan', 'duh', 'doj', 'den', 'bah', 'kfc', 'xed', 'tun', 'suh',
       'tek', 'luv', 'wid', 'jun', 'lam', 'jix', 'hip', 'rum', 'doa',
       'pin', 'ape', 'tbd', 'dmc', 'dmt', 'tmz', 'dvd', 'wiz', 'bye',
       'usd', 'cum', 'uhh', 'ohh', 'sin', 'pam', 'wap', 'bam', 'sia',
       'jaw', 'joy', 'del', 'rey', 'pac', 'urr', 'fur', 'slo', 'rob',
       'tux', 'oww', 'cam', 'los', 'bod', 'uhm', 'yam', 'add', 'nam',
       'kyo', 'fee', 'dro', 'pla', 'lab', 'tim', 'nut', 'joe', 'bra',
       'har', 'rat', 'ibn', 'vie', 'dea', 'cca', 'ing', 'igh', 'nap',
       'úgy', 'fad', 'dat', 'lic', 'din', 'sof', 'rio', 'ist', 'rep'],
      dtype=object)

In [77]:
# words to be removed from the data
forbidden_words = ['ll', 'nt', 'em', 'co', 'ym', 'ta', 've',
       'se', 'mm', 'uh', 'wo', 'ap', 'fn', 'ba', 'la', 'wi', 
       'fi', 'td', 'cb', 'gs', 'al', 'fe', 'kb', 'jt', 'es', 
       'lo', 'kd', 'um', 'bo', 'du', 'ac', 'da', 'ol', 'li',
       'ii', 'di', 'aw', 'ls', 'mi', 'ot', 'ns', 'rr', 'zs', 
       'xl', 'tj', 'de', 'fo', 'ga', 'st', 'mo', 'qs', 'ps', 
       'jo', 'hе', 'gt', 'el', 'sr', 'pa', 'od', 'hm', 'rb', 
       'ei', 'ny', 'im', 'su', 'tó', 'az', 'sk', 'the']

In [78]:
# remove the chosen words
df_cleaned = df[~df["lyrics"].isin(forbidden_words)]

# check if the chosen words have been removed 
df_cleaned[df_cleaned["lyrics"].str.len() < 3]["lyrics"].unique()

(37998, 6)

In [79]:
df_cleaned.to_csv('lyrics_tokenized_v2.csv', sep=";",index=True,index_label="id")